<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms" style="float:left; width: 50%;">
  <div class="post-block" >
    <div class="media-wrapper">
      <img class="img-fluid lozad"data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
    </div>

    <div class="content">
      <h3 style="font-weight: bold;font"><a href="{{ .Permalink }}"><font face="innova-demi">{{ .Title }}</font></a></h3>
      <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>