{{ if gt site.RegularPages 0}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section" >
	<div class="container">
		<div class="col-lg-12">
			{{"<!-- section title -->" | safeHTML}}
			<div class="title text-center wow fadeInDown">
				<h2> {{ with i18n "covid" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with i18n "covid" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
				<div class="border-meghna"></div>
			</div>
		</div>
		<div class="block-center" style="display:flex;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;justify-content: center!important;" > 
			{{ range first 1 (where site.RegularPages "Section" "==" "importante")}}
			{{ .Render "article"}}
			<div class="flourish-embed flourish-chart" style="float:left; width: 60%;" data-src="visualisation/1739991" data-url="https://flo.uri.sh/visualisation/1739991/embed" aria-label=""><script src="https://public.flourish.studio/resources/embed.js"></script></div>	
			{{ end }}
		</div>

		

		
		<div class="title text-center wow fadeInDown">
			<h2> {{ with i18n "blogTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
					{{ with i18n "blogTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
			<div class="border-meghna"></div>
		</div>
		<div class="row justify-content-center">
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 6 (where site.RegularPages "Section" "==" "blog")}}
			{{ .Render "article"}}
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main" href="{{ `blog` | absLangURL }}">{{ i18n "viewAllPost" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}