<section class="sticky-top navigation">
	
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand p-0" href="{{ .Site.BaseURL | relLangURL }}">
				{{ if site.Params.logo }}
				<img class="lozad" data-src="{{ site.Params.logo | absURL }}" alt="{{ .Site.Title }}" style="width: 10vh;height: 6vh;">
				{{ else }}
				{{ site.Title }}
				{{ end }}
			</a>

			<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item"><a class="nav-link" href="#body">{{ site.Params.home }}</a></li>
					<li class="nav-item"><a class="nav-link" href="/#blog">Último Momento</a></li>
					<li class="nav-item"><a class="nav-link" href="/politica" onClick="fbq('track', 'Política')">Política</a></li>
					<li class="nav-item"><a class="nav-link" href="/economia" onClick="fbq('track', 'Economía');">Economía</a></li>
					<li class="nav-item"><a class="nav-link" href="/sociedad" onClick="fbq('track', 'Sociedad');">Sociedad</a></li>
					<li class="nav-item"><a class="nav-link" href="/deportes" onClick="fbq('track', 'Deportes');">Deportes</a></li>
					<li class="nav-item"><a class="nav-link" href="/espectaculos"onClick="fbq('track', 'Espectáculos');">Espectáculos</a></li>

					<!-- ////////////////////////////////////
					<li class="nav-item"><a class="nav-link" href="#body">{{ site.Params.home }}</a></li>
					{{ if .IsHome }}
					{{ range site.Menus.main }}
					<li class="nav-item"><a class="nav-link" href="{{ .URL }}">
						{{ i18n .Name }} 
						</a></li>
						
					{{ end }}

					{{ else }}

					

					{{ range site.Menus.main }}
					<li class="nav-item"><a class="nav-link" href="{{ site.BaseURL | relLangURL }}{{ .URL }}">
						{{ i18n .Name }}  
						</a>
					</li>
					
					{{ end }}
					{{ end }}

					{{ range site.Menus.static }}
					<li class="nav-item"><a class="nav-link" target="_blank" href="{{ .URL }}">
						{{ i18n .Name }} 
						</a>
					</li>
					
					{{ end }}-->
						
					<!-- weather widget start -->
						<a target="_blank" href="https://hotelmix.es/weather/buenos-aires-18250" style="padding-right: 10px;">
							<img src="https://w.bookcdn.com/weather/picture/12_18250_1_4_2071c9_118_2071c9_ffffff_ffffff_3_2071c9_ffffff_0_6.png?scode=124&domid=582&anc_id=47528"  alt="booked.net" />
						</a>
					<!-- weather widget end -->		
				
					<!-- Search
						
					<div class="buscar">
						<!--<script>
						<input type="text" class="buscar_texto" id="search-input" placeholder="Buscar" name="search">
						</script>
						
						<section id="search-results" class="search"></section>
							<a href="" class="boton" id="boton">
							<i class="ti-search" style="max-width: 10%;font-size: 20px; position: absolute;"></i>
						</a>
					</div>-->
					<!--<script async src="https://cse.google.com/cse.js?cx=f4d208f19fbe9585c"></script>
<div class="gcse-search"></div>-->	
					<!-- Search end -->	
				
					  
					{{ "<!-- search -->" | safeHTML }}
					<!--<div class="search px-4">
					  <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
					  <div class="search-wrapper">
						<form action="{{ `search`| relLangURL }}" class="h-100">
						  <input class="search-box pl-4" id="search-query" name="s" type="search" placeholder="Type and hit enter...">
						</form>
						<button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
					  </div>
					</div>-->	
				

				</ul>




				<!-- Language List
				{{- if site.IsMultiLingual }}
				<select id="select-language" onchange="location = this.value;">
					{{ $siteLanguages := site.Languages}}
					{{ $pageLang := .Page.Lang}}
					{{ range .Page.AllTranslations }}
					{{ $translation := .}}
					{{ range $siteLanguages }}
					{{ if eq $translation.Lang .Lang }}
					{{ $selected := false }}
					{{ if eq $pageLang .Lang}}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
					</option>
					{{ else }}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
					{{ end }}
					{{ end }}
					{{ end }}
					{{ end }}
				</select>
				{{ end }}-->
				</div>
		</nav>
	</div>
</section>
