{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}
<aside class="col-lg-4 order-1 order-lg-2" style="float: right; margin-top: 50px">
  {{ "<!-- categories -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h4 class="mb-4">Comisiones</h4>
    <ul class="list-unstyled">
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamos 1.1</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3"> Reclamo 1.2</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 2.1</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 2.2</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 2.3</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 3.1</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 3.2</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 3.3</a></li>

    </ul>
    <h4 class="mb-4">Otros titulos de Interes</h4>
    <ul class="list-unstyled">
      <li class="border-bottom"><a href="../consejo/autoridades" class="d-block pb-3 mt-3">Autoridades</a></li>
      <li class="border-bottom"><a href="../comisiones" class="d-block pb-3 mt-3">Comisiones</a></li>
      <li class="border-bottom"><a href="../blog" class="d-block pb-3 mt-3">Noticias</a></li>
      
    </ul>
  </div>

  
  
</aside>
<!-- Consejo
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.Image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image">
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
 /about -->


<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm ">
  <div class="container">
    <div class="row">
      <h1>Seccion Reclamos</h1>
      <form action="enviar2.php" method="post" enctype="text/plain">
        <h2>Reclamo 1</h2>
        <p>Nombre <input type="text" name="nombre"/>
            Apellido: <input type="text" name="apellido" size="25"/>
        </p>
        <p>Direccion: <input type="text" name="Direccion" size="50" value="calle, numero y piso"/></p>
        <p>Email: <input type="text" name="email" size=" @ "/></p>
        <p>Sexo
          <input type="radio" name="sexo" value="h"/>Hombre<br/>
          <input type="radio" name="sexo" value="m"/>Mujer<br/>
          <input type="radio" name="sexo" value="p"/>Prefiero no decirlo
        </p>
        <p>Razon del Reclamo
          <input type="radio" name="reclamo" value="1" checked="checked"/>Reclamo 1</br>
          <input type="radio" name="reclamo" value="2" />Reclamo 2</br>
          <input type="radio" name="reclamo" value="3" />Reclamo 3</br>
          <input type="radio" name="reclamo" value="4" />Reclamo 4</br>
        </p>
        <p><select name="reclamo2">
          <option>Reclamo 1</option>
          <option>Reclamo 2</option>
          <option>Reclamo 3</option>
          <option>Reclamo 4</option>
        </select></p>
        <p>Mardar archivo: <input type="file" name="archivo"/></p>
        <p><textarea name="descripcion: " rows="5" cols="50"> Descripcion del reclamo</textarea></p>
        <p><input type="submit" value="Enviar"/></p>
      </form>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->


<!-- teacher 
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "our_teachers" }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      * teacher *
      {{ range first 3 (where site.RegularPages "Type" "consejales")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "consejales" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
 /teacher -->

{{ end }}